ul{
    display: flex; /*Activa el flexbox */
    list-style-type: none; /*Elimina las viñetas*/
    padding: 0; /*Elimina el margen interno */
    
}
 ul li{
    flex: 1; /*Distribuir el espacio equivalente entre los elementos*/
 }
 
 @media (max-widht:768px){
    .menu {
        display: flex;
        flex-direction: column;
    }
 }

 #respuesta {
    display: none;
    corder: 1px solid blueviolet;
    padding: 10px;
    margin: 10px;
    font-family:16px ;
 }