h1 {
    text-align: center;
}

h4 {
    color: blue;
}

h5 {
   color: gray
}
p {
    text-decoration: aquamarine;
}
.divfooter {
     p{
       color: blueviolet;
     }

  }    
  .botonjs {
    background-color: cornflowerblue;
    color:aliceblue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }